.social-icon {
  transition: all 300ms ease;
}

.icon-wrapper:hover {
  .social-icon {
    transform: translate(0, -0.2rem);
    transition: all 300ms ease;
  }
}

.project:hover{
  transform: translate(0, -0.5rem);
  transition: all 300ms ease;

  .title{
    color:rgb(56 189 248);
  }
}

nav{
    transition: all 500ms ease-in-out;
    backdrop-filter: none;
    background-color: transparent;
}

/* Dark theme navbar */
:root.dark nav.navbar-scrolled{
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(15px) !important;
    -moz-backdrop-filter: blur(15px) !important;
    -o-backdrop-filter: blur(15px) !important;
    -ms-backdrop-filter: blur(15px) !important;
    background-color: rgba(23, 23, 23, 0.9) !important;
}

/* Light theme navbar */
:root.light nav.navbar-scrolled{
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(15px) !important;
    -moz-backdrop-filter: blur(15px) !important;
    -o-backdrop-filter: blur(15px) !important;
    -ms-backdrop-filter: blur(15px) !important;
    background-color: rgba(241, 245, 249, 0.9) !important;
}

.scroll-down-hide-nav {
  transform: translateY(-100%);
  box-shadow: 0px 0px 8px #000000;
}
