.Home {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.section {
  position: relative;
  top: -40vh;
  width: 300px;
  height: 300px;
}

.noise {
  margin-top: -15%;
  width: 100%;
  height: 120%;
  background: radial-gradient(
      circle at 50% 50%,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 600 600' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.55' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  filter: contrast(145%) brightness(550%) invert(100%);
  mix-blend-mode: screen;
  animation: circle 80s infinite linear;
}


.Home {
  font-family: 'Rubik Maze', Helvetica, Arial, sans-serif;
}

@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .noise {
    filter: contrast(125%) brightness(650%) invert(99%);
    mix-blend-mode: color-dodge;
  }
}

.city {
  animation: shake 4s ease-in-out infinite;
}

@keyframes shake {
  0% {
    transform: translateY(0.5%) rotate(0deg);
  }
  50% {
    transform: translateY(0%) rotate(0deg);
  }
  100% {
    transform: translateY(0.5%) rotate(0deg);
  }
}
