@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Calibre-Semibold';
  src: url('./assets/fonts/Calibre/Calibre-Semibold.ttf');
}

@font-face {
  font-family: 'Calibre-Regular';
  src: url('./assets/fonts/Calibre/Calibre-Regular.ttf');
}

.calibre-reg{
  font-family: 'Calibre-Regular';
}

@font-face {
  font-family: 'SFMono-Regular';
  src: url('./assets/fonts/SFMono/SFMono-Regular.ttf');
}

.sfmono-reg{
  font-family: 'SFMono-Regular';
}

@layer components {
  .text-2xs {
    font-size: 0.65rem;
  }
  .text-3xs {
    font-size: 0.55rem;
  }
}

* {
  margin: 0;
  /* padding: 0; */
  list-style: none;
  text-decoration: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #646cff;
}

body {
  margin: 0;
  min-height:100vh;
  /* overflow: hidden; */
}

h1 {
  font-family: 'Calibre-Semibold';
  line-height: 1.1;
}

h2 {
  font-family: 'Calibre-Semibold';
  line-height: 0.8;
}

button {
  border: 1px solid white;
  font-family: 'SFMono-Regular';
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  transform: scale(1.06);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}