@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Calibre-Semibold';
  src: url('./assets/fonts/Calibre/Calibre-Semibold.ttf');
}

@font-face {
  font-family: 'Calibre-Regular';
  src: url('./assets/fonts/Calibre/Calibre-Regular.ttf');
}

.calibre-reg{
  font-family: 'Calibre-Regular';
}

@font-face {
  font-family: 'SFMono-Regular';
  src: url('./assets/fonts/SFMono/SFMono-Regular.ttf');
}

.sfmono-reg{
  font-family: 'SFMono-Regular';
}

@layer components {
  .text-2xs {
    font-size: 0.65rem;
  }
  .text-3xs {
    font-size: 0.55rem;
  }
}


:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  height:100vh;
  overflow: hidden;
}

h1 {
  font-size: 4.0em;
  line-height: 1.1;
  font-family: 'Calibre-Semibold';
}

h2 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Calibre-Semibold';
}

button {
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: 'SFMono-Regular';
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  transform: scale(1.06);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}